<h2>login</h2>
<form method='post' action='/'>
  <label for="username">Username</label>
  <input type="text" name='username'>
  <label for="password">Password</label>
  <input type="password" name='password'>
  <input type="submit">
</form>

<h2>signup</h2>
<form method='post' action='/signup'>
  <label for="signup-username">Username</label>
  <input type="text" name='username'>
  <label for="signup-email">Email</label>
  <input type="email" name='email'>
  <label for="signup-password">Password</label>
  <input type="password" name='password'>
  <input type="submit">
</form>

