<form action="/brews/<%= @brew.id %>" method="post">
  <input type="text" name="title" value="<%= @brew.name %>">
  <input type="text" name="grain" value="<%= @brew.grain %>">
  <input type="text" name="hops" value="<%= @brew.hops %>">
  <input type="submit">
</form>